@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #8b7979;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.tarjeta-global{
  margin: 20px;
  background-color: rgb(0, 128, 0);
  padding: 30px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 10px 18px rgb(185, 184, 184);
  transition: all 0.3s ease-in-out;
}
.tarjeta-global:hover{
  box-shadow: 0 10px 18px rgb(0, 0, 0);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.titulo-global{
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}
.contenido-global{
  font-size: 16px;
  color: white;
  text-align: center;
  background-color: rgba(64, 90, 64, 0.651);
}
